<div class="row col-lg-12"  id="tourists">
    <% @instagrams.each do |instagram| %>
      <p id="instagram-list"><img src="<%=instagram%>" alt="instagram pictures" class="col-md-12"><p>
    <% end %>
</div>

