<h1>Google Maps Test</h1>
<h2>Find By Neighborhood</h2>
<%= form_tag("/test/create", method: "post") do %>
  <%= label_tag(:neighborhood, "Neighborhood") %>
  <%= text_field_tag(:neighborhood) %>
  <%= submit_tag("Submit") %>
<% end %>