<div class="row">
	<div class="col-lg-12">
		<h2>About This Project</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p>This project was built for our one week sprint as part of our studies at the Flatiron School, NYC</p>
		<p>Technologies used:</p>
			<ul>
				<li>
					Ruby on Rails
				</li>
				<li>
					HTML + CSS
				</li>
				<li>
					jQuery
				</li>
				<li>
					Instagram API
				</li>
				<li>
					Yelp API
				</li>
			</ul>
		<p>You can view the source code for this project on GitHub by <a href="https://github.com/nrosella/tourist-trap">clicking here.</a></p>
	</div>
</div>