<div class="row">
	<div class="col-lg-12">
		<h2>The Team</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<%= image_tag('11825420.jpeg')%>
		<h3>Becca Ades</h3>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="col-lg-4">
		<%= image_tag('6166288.jpeg')%>
		<h3>Abhijit Pradhan</h3>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="col-lg-4">
		<%= image_tag('9953094.jpeg')%>
		<h3>Nino Rosella</h3>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</div>
