<!DOCTYPE html>
<html>
<head>
  <title>Tourist Trapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	   <div class="navbar">
	   </div>
       <%= yield %>
  </div>
  </body>
</html>
